{% extends "base.html" %}
{% load static %}

{% block header %}
{% endblock header %}

{% block content %}

<!-- Page-header start -->
<div class="col-sm-12">

    <div class="card">
        <div class="card-header">
            <h4 class="m-b-10">Page Title</h4>
        </div>
        <div class="card-block">
            <p class="text-muted m-b-10">About this page.</p>
        </div>
    </div>

</div>
<!-- Page-header end -->

<!-- Page-content start -->

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">

            <h5>Items below</h5>

        </div>

        <div class="card-block">
            <p>Content here</p>
        </div>
    </div>
</div>
<!-- Page-content end -->

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
