{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block header %}
{% endblock header %}

{% block content %}

<!-- Page-header start -->

<!-- Page-header end -->

<!-- Page-content start -->
<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h4 class="m-b-10">Edit Company Details</h4>
        </div>
        <div id="messageBox" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="icofont icofont-close-line-circled"></i>
            </button>

            <span></span>
        </div>
    </div>

</div>

<div class="col-sm-12">
    <div class="card">
        <div class="card-block">
            <div class="card-block">
                {% crispy companyForm %}
            </div>
        </div>
    </div>

</div>

{% comment %} {% if adressesFormSet %}
{{ adressesFormSet.management_form }}
{% for address in adressesFormSet %}
<div class="col-sm-12">
    <div class="card">
        <div class="card-block">
            
            {% crispy address helper %}


        </div>
    </div>

</div>
{% endfor %}
{% endif %} {% endcomment %}
<!-- Page-content end -->

{% endblock content %}

{% block scripts %}
<script type="text/javascript" charset="utf8" src="{% static 'DataTables/datatables.js' %}"></script>
<script src="{% static 'company/js/companyApp.js' %}"></script>
<script src="{% static 'js/jquery.blockUI.js' %}"></script>
{% endblock scripts %}