{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block header %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{% endblock header %}

{% block content %}

<!-- Page-header start -->
<div class="col-sm-12">

    <div class="card">
        <div class="card-header">
            <h4 class="m-b-10">{{ company.name }}</h4>
            <a href="{% url 'company-update' pk=company.pk %}">
                <button class='edit-row btn btn-warning'>Edit</button>
            </a>
        </div>
    </div>

</div>
<!-- Page-header end -->

<!-- Page-content start -->

<div class="col-sm-12">
    <div class="card">
        <div class="card-block">
            <div class="row">

                <!-- Company Info start -->
                <div class="col-lg-12 col-xl-12">
                    <div class="sub-title">Company Details</div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs  tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home1" role="tab"
                                aria-expanded="true">General</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#contact1" role="tab"
                                aria-expanded="false">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#messages1" role="tab"
                                aria-expanded="false">Addresses</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content tabs card-block">
                        <div class="tab-pane active" id="home1" role="tabpanel" aria-expanded="true">
                            <img class="account-img" src="{{ company.logo.url }}" width="100px" height="auto">
                            <br><br>
                            <p class="m-0"><strong>Tax ID Number: </strong> {{ company.cnpj }}</p>

                        </div>
                        <div class="tab-pane" id="contact1" role="tabpanel" aria-expanded="false">
                            <strong>Email for PR:</strong><a href="mailto:{{ company.email01 }}">
                                {{ company.email01 }}</a><br>
                            <strong>Email for Support:</strong><a href="mailto:{{ company.email02 }}">
                                {{ company.email02 }}</a><br>
                            <strong>Web Page: </strong> <a href="{{company.webPage}}" target="_blank"
                                rel="noopener noreferrer">{{ company.webPage }}</a><br>
                        </div>
                        <div class="tab-pane" id="messages1" role="tabpanel" aria-expanded="false">

                            <p class="m-0">
                                <address>
                                    <strong>Main Address:</strong><br>
                                    {{company.line1}} <br>
                                    {{company.line2}} <br>
                                    Zip Code: {{company.zipCode}} <br>
                                    City: {{company.city}} <br>
                                    State or Province: {{company.state}} <br>
                                    Country: {{company.country}}
                                </address>
                                <hr>
                                {% if addresses %}

                                {% for address in addresses %}

                                {% include 'company/_address.html' %}
                                <hr>
                                {% endfor %}

                                {% endif %}
                                <div id="newAddressContainer" style="display: none;">
                                    {% crispy addressForm %}
                                    <br>
                                    <button id="newAddressCancelButton" class='btn btn-warning'>Cancel</button>
                                </div>
                                <br>
                                {% comment %} <button id="newAddressButton" class='btn btn-info'>Add Address</button> {% endcomment %}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Company Info end -->


            </div>

        </div>
    </div>
</div>
<!-- Page-content end -->

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/app.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'DataTables/datatables.js' %}"></script>
<script src="{% static 'company/js/companyApp.js' %}"></script>
<script src="http://malsup.github.io/jquery.blockUI.js"></script>
{% endblock scripts %}