{% extends "base.html" %}
{% load static %}

{% block header %}

<link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.css' %}">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

{% endblock header %}

{% block content %}

<!-- Page-header start -->
<div class="col-sm-12">

    <div class="card">
        <div class="card-header">
            <h4 class="m-b-10">Companies</h4>
        </div>
        <div class="card-block">
            <p class="text-muted m-b-10">Here you can find iformation about the companies recorded in our catalog.</p>
        </div>
    </div>

</div>
<!-- Page-header end -->

<!-- Page-content start -->

<div class="col-sm-12">
    <div class="card icon-btn">
        <div class="card-header">
            <h5>List of Companies</h5>
            <button class="btn btn-success reloadButton"><i class="icofont icofont-star"></i>Reload</button>
        </div>
        <div class="card-block ">

            <table id="myTable" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Tax ID Number</th>
                        <th>Tools</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Tax ID Number</th>
                        <th>Tools</th>
                    </tr>
                </tfoot>
            </table>

        </div>

    </div>
</div>
<!-- Page-content end -->

{% endblock content %}

{% block scripts %}

<script src="{% static 'js/app.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'DataTables/datatables.js' %}"></script>
<script src="http://malsup.github.io/jquery.blockUI.js"></script>
<script>
    $(document).ready(function () {

        $(document).ajaxStop($.unblockUI);

        setupCompanyTable('#myTable');

        // Reload table start
        $('.reloadButton').click(function () {
            $.blockUI();
            reloadCompanyTable('#myTable');
        });
        // Reload table end

        // Delete Item start
        $('#myTable tbody').on('click', 'button.delete-row', function () {
            pk = $(this).closest('tr').attr('id').substr(3);
            deleteCompany(parseInt(pk, 10), '#myTable');
        });
        // Delete Item end

    });
</script>

{% endblock scripts %}