{% extends "company/light-dark/base.html" %}

{% block content %}

                                    <!-- Page-header start -->
                                    <div class="page-header card">
                                        <div class="card-block">
                                            <h5 class="m-b-10">Django CRUD Pet Project</h5>
                                            <p class="text-muted m-b-10">Putting in practice concepts learned about jQuery, Bootstrap, javaScript, Python and Django.</p>                                            
                                        </div>
                                    </div>
                                    <!-- Page-header end -->

                                    <!-- Page-body start -->
                                    <div class="page-body">

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Presentation text start. -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Default page: Header of the page here</h5>
                                                        
                                                    </div>
                                                    <div class="card-block" style="">
                                                        <p>
                                                            Some text here.
                                                        </p>
                                                        <p>
                                                            Another paragraph here.
                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- Presentation text end. -->
                                    </div>
                                    <!-- Page-body end -->
                                



{% endblock content %}
