{% extends "base.html" %}

{% block content %}

<div class="col-sm-12">

    <div class="card">
        <div class="card-header">
            <h4 class="m-b-10">Django CRUD 'Pet Project'</h4>
        </div>
        <div class="card-block">
            <p class="text-muted m-b-10">Putting in practice concepts learned about jQuery, Bootstrap, javaScript,
                Python and Django.
            </p>
        </div>
    </div>

</div>
<!-- Presentation text start. -->
<div class="col-sm-12">

    <div class="card">
        <div class="card-header">
            <h5>About this Project</h5>

        </div>
        <div class="card-block">
            <p>
                The main goal of this project is to put in practice what I have learned so far about
                Bootstrap, javaScript, jQuery, Django, Python, Html and CSS. Building a "pet project" is
                an excellent way to test the skills learned and to "push the envelope" of our knowledge
                and time management skills.
            </p>
            <p>
                It is really easy to study few weeks and feel confident about something new we have just
                learned.
                In the other hand, the so called "impostor syndrome" can be something that may cause real demage
                once
                it stops us from applying for jobs or trying new challenges because we never feel "ready".
                By building a project like this I feel confident enough to both put my programming skills and my
                English communication skills to proof in a job interview.
            </p>
        </div>
    </div>

</div>
<!-- Presentation text end. -->

{% endblock content %}